
/*******Base styles*******/
* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	font-size: 120%;
}

h1 {
	margin: auto;
	text-align: center;
	color: black;
	font-size: 1.75em;
}

div.col-dt-4.col-tl-6, div.col-dt-4.col-tl-12 {
	padding: 10px;
}

section {
	position: relative;
	border: 1px solid black;
	background-color: grey;  
	color: black;
	overflow: hidden;
	width: auto;
	margin: auto;
}

section.content {
	padding: 30px;
	font-size: 1em;
	text-align: left;
	height: 185px;
}

#t1 {
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	background-color: pink;
	font-weight: bold;
	font-size: 1.25em;
	width: 40%;
}

#t2 {
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	background-color: maroon;
	font-weight: bold;
	color: white;
	font-size: 1.25em;
	width: 40%;
}

#t3 {
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	background-color: yellow;
	font-weight: bold;
	font-size: 1.25em;
	width: 40%;
}

/* Simple Responsive Framework*/
.row {
	width: 100%;
}

/********* Desktop version *********/
@media (min-width: 992px) {
	.col-dt-1, .col-dt-2, .col-dt-3, .col-dt-4, .col-dt-5, .col-dt-6, .col-dt-7, .col-dt-8, .col-dt-9, .col-dt-10, .col-dt-11, .col-dt-12 {
		float: left;
	}
	.col-dt-1 {
		width: 8.33%;
	}
	.col-dt-2 {
		width: 16.66%;
	}
	.col-dt-3 {
		width: 25%;
	}
	.col-dt-4 {
		width: 33.33%;
	}
	.col-dt-5 {
		width: 41.66%;
	}
	.col-dt-6 {
		width: 50%;
	}
	.col-dt-7 {
		width: 58.33%;
	}
	.col-dt-8 {
		width: 66.66%;
	}
	.col-dt-9 {
		width: 74.99%;
	}
	.col-dt-10 {
		width: 83.33%;
	}
	.col-dt-11 {
		width: 91.66;
	}
	.col-dt-12 {
		width: 100%;
	}
}


/********* Tablet version*********/
@media (min-width: 768px) and (max-width: 991px) {
	.col-tl-1, .col-tl-2, .col-tl-3, .col-tl-4, .col-tl-5, .col-tl-6, .col-tl-7, .col-tl-8, .col-tl-9, .col-tl-10, .col-tl-11, .col-tl-12 {
		float: left;
	}
	.col-tl-1 {
		width: 8.33%;
	}
	.col-tl-2 {
		width: 16.66%;
	}
	.col-tl-3 {
		width: 25%;
	}
	.col-tl-4 {
		width: 33.33%;
	}
	.col-tl-5 {
		width: 41.66%;
	}
	.col-tl-6 {
		width: 50%;
	}
	.col-tl-7 {
		width: 58.33%;
	}
	.col-tl-8 {
		width: 66.66%;
	}
	.col-tl-9 {
		width: 74.99%;
	}
	.col-tl-10 {
		width: 83.33%;
	}
	.col-tl-11 {
		width: 91.66;
	}
	.col-tl-12 {
		width: 100%;
	}
}

/* Mobile version automatically stacks vertically at <768px */